<link rel="stylesheet" type="text/css" href="assets/css/modal.styles.css">

<div id="custom-modal">

	<div style="position: fixed; height: 100%; width: 100%; top: 0;">
			
		<div class="row center-xs middle-xs" style="height: 100%; width: 100%; ">
		  <div class="overlay col-md-5 col-sm-6 col-xs-10">
				
				<div class="row">
					<div class="col-xs-10 start-xs">
						<p class="title-sm">GRUPOS DE RESULTADO</p>
					</div>
					<div class="col-xs end-xs icon-btn" ng-click="close()">
						<i class="material-icons">close</i>
					</div>
				</div>


				<div class="row" ng-repeat="resultGroup in resultGroups">
					<div class="iten-list" ng-click="myResultGroup(resultGroup.id)">
						<p>{{resultGroup.title}}</p>			
					</div>
				</div>

			  </div>
			  <div class="fade"></div>
			</div>
		</div>
		
	</div>

</div>
