<a ng-href="#!/board/{{c.id}}">
<div class="container-base">

	<div class="row">
		<div class="col-xs">
			<div class="box">
				<p class="card-title">{{c.title}}</p>
			</div>
		</div>
	</div>


	<div class="row">

		<div class="col-xs-4 col-item-start">
			<div class="item item-bottom item-orange">
				<div class="row center-xs middle-xs">
					<i class="material-icons md-dark">perm_identity</i>
					<span>{{c.members.length}}</span>
				</div>
			</div>
		</div>

		<div class="col-xs-4 col-item">
			<div class="item item-bottom item-green">
				<div class="row center-xs middle-xs">
					<i class="material-icons md-dark">event</i>
					<span>{{ c.deadline | date: 'dd/MMM' }}</span>
				</div>
			</div>
		</div>

		<div class="col-xs-4 col-item-end">
			<div class="item item-bottom item-pink item-last">
				<div class="row center-xs middle-xs">
					<i class="material-icons md-dark">bookmark_border</i>
					<span>{{c.sessions.length}}</span>
				</div>
			</div>
		</div>

	</div>
</div>

</a>
