<div class="col-xs">
				
<div class="row center-xs">

	<div class="col-sm-10 col-xs-12">

		<div class="box">

			<nav-bar-header></nav-bar-header>

				</br>

<!--
			<div class="box container-base">
				testes

				<button class="btn btn-md green-bg-btn">GREEN BUTTON</button>
				<button class="btn btn-md pink-bg-btn">PINK BUTTON</button>
				<button class="btn btn-md blue-bg-btn">BLUE BUTTON</button>
				<button class="btn btn-md inactive-bg-btn">INACTIVE BUTTON</button>
				
				</br>
				</br>

				<button class="btn btn-sm green-bg-btn">GREEN BUTTON</button>
				<button class="btn btn-sm pink-bg-btn">PINK BUTTON</button>
				<button class="btn btn-sm blue-bg-btn">BLUE BUTTON</button>
				<button class="btn btn-sm inactive-bg-btn">INACTIVE BUTTON</button>

				</br>
				</br>



				<i class="material-icons md-dark">mail_outline</i>
				<input type="text" class="input-form" name="" placeholder="exemplo@mail.com">
				</br>
				</br>
				<i class="material-icons md-dark">lock_outline</i>
				<input type="password" class="input-form" name="" placeholder="password">

			</div>

-->
			<div class="row start-xs">
				<div class="col-xs-12">
					<p class="title-sm">Meus Boards</p>
				</div>
			</div>

			<div class="row">

				<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
					<div class="btn-new-card">
						<div class="row center-xs middle-xs">
								<i class="material-icons">add</i>
								adicionar um novo card
							
						</div>
					</div>
				</div>

				<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
					<card-dash-board></card-dash-board>
				</div>
				
			</div>


			<div class="separator"></div>

			<div class="row start-xs">
				<div class="col-xs-12">
					<p class="title-sm">Boards que participo</p>
				</div>
			</div>

		</div>
	</div>
</div>
</div>