<nav-bar-header></nav-bar-header>

<div class="row start-xs">
	<div class="col-xs-12">
		<p class="title-sm">Meus Boards</p>
	</div>
</div>

<div class="row">

	<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
		<a ng-href="#!/board-register">
			<div class="btn-new-card">
				<div class="row center-xs middle-xs">
						<i class="material-icons">add</i>
						adicionar um novo Board

				</div>
			</div>
		</a>
	</div>

	<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12" ng-repeat="myBoard in myBoards">
		<card-dash-board info="myBoard"></card-dash-board>
	</div>

</div>

<div class="separator"></div>

<div class="row start-xs">
	<div class="col-xs-12">
		<p class="title-sm">Boards que participo</p>
	</div>
</div>
<div class="row">
	<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12" ng-repeat="connectBoard in connectBoards">
		<card-dash-board info="connectBoard"></card-dash-board>
	</div>
</div>


