<div class="col-xs-12">

	<div class="row center-xs">
		<div class="col-sm-10 col-xs-12 ">
			<div class="box container-base">
				
				<div class="row between-xs">

					<div class="col-md-2 col-sm-3">
						<div class="row">
							<div class="box">algo aqui</div>
						</div>
					</div>

					<div class="col">
						<div class="box">centro</div>			
					</div>

					<div class="col-md-2 col-sm-3">
						<div class="row end-xs">
							<div class="box">Olá fulano</div>
						</div>
					</div>
						
				</div>	
				
			</div>
		</div>		
	</div>

	</br>

	<div class="row center-xs">
		
		<div class="col-sm-10 col-xs-12">

			<div class="box container-base">
				testes

				<button class="btn btn-md green-bg-btn">GREEN BUTTON</button>
				<button class="btn btn-md pink-bg-btn">PINK BUTTON</button>
				<button class="btn btn-md blue-bg-btn">BLUE BUTTON</button>
				<button class="btn btn-md inactive-bg-btn">INACTIVE BUTTON</button>
				
				</br>
				</br>

				<button class="btn btn-sm green-bg-btn">GREEN BUTTON</button>
				<button class="btn btn-sm pink-bg-btn">PINK BUTTON</button>
				<button class="btn btn-sm blue-bg-btn">BLUE BUTTON</button>
				<button class="btn btn-sm inactive-bg-btn">INACTIVE BUTTON</button>

				</br>
				</br>

				<input type="" class="input-form" name="" placeholder="teste">

			</div>	
		</div>

	</div>

</div>