@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@import url('https://fonts.googleapis.com/css?family=Coming+Soon');

:root {
  --lightGreen: #;
  --green: #11a8ab;
  --darkGreen: #009699;
  --pink: #e64c65;
  --darkPink: #cc324b;
  --blue: #3468af;
  --darkBlue: #1a4e95;
  --orange: #fcb150;
  --darkOrange: #FC9D42;
  --grayBlueDark: #1f253d;
  --grayBlue: #394264;
  --grayBlueOk: #50597b;
  --grayBlueLight: #9099b7;
}

*,
:before,
:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  color: white;
  background-color: #1f253d;
}

.card-link {
  text-decoration: none;
  color: white;
}

a {
  display: block;  
  text-decoration: none;
  color: white;
}

a:hover {
  color: var(--grayBlueLight);
}

textarea {
  width: 100%;
  resize: vertical; 
}

.material-icons.md-dark { color: var(--grayBlueDark); }
.material-icons.md-light { color: var(--grayBlueLight); }

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

.container-base {
	background-color:	#394264;
  border-radius: 3px;
  margin: 7px 0 7px 0;
}


/* B U T O N S */

.btn {
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: 'Ubuntu', sans-serif;
  border-radius: 3px;
}

.btn-md {
  padding: 15px 32px;
  font-size: 14px;	
  letter-spacing: 1px;
}

.btn-sm {
	padding: 10px 16px;
  font-size: 10px;	
}

.stretch {
  width: 100%;
}

.green-bg-btn {
  background-color: var(--green);
}

.green-bg-btn:hover {
	background-color: var(--darkGreen);
}

.pink-bg-btn {
  background-color: var(--pink);
}

.pink-bg-btn:hover {
  background-color: var(--darkPink)
}

.blue-bg-btn {
  background-color: var(--blue);
}
.blue-bg-btn:hover {
  background-color: var(--darkBlue)
}
.orange-bg-btn {
  background-color: var(--orange);
}
.orange-bg-btn:hover {
  background-color: var(--darkOrange);
}



.inactive-bg-btn {
  background-color: var(--grayBlueOk)
}

/* I N P U T S */

.input-form {
  border: 1px solid var(--grayBlueDark);
  padding: 12px;
  font-size: 1.2em;
  border-radius: 5px;
  background-color: var(--grayBlueOk);
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
  color: white;
}

.input-form::placeholder {
  color: var(--grayBlueLight);
}

.input-form:focus {
	border-color: var(--green);
}

/* I T E N S */

.item {
  background-color: var(--grayBlueOk);
  margin: 0 1px 0 1px;
  padding: 10px;
  font-size: 14px;
  letter-spacing: 2px;
  /*color: var(--grayBlueLight);*/
}

.item-bottom {
  border-top: solid 2px;
}

.col-item-start {
  padding-right: 0;
  border-bottom-left-radius: 3px;
}

.col-item-end {
  padding-left: 0;
  border-bottom-left-radius: 3px;
}

.col-item {
  padding: 0;
}

.item-last {
  margin-right: 0;
  border-bottom-right-radius: 3px;
}

.item-pink {
  border-color: var(--darkPink);
}

.item-green {
  border-color: var(--green);
}

.item-blue {
  border-color: var(--darkBlue);
}

.item-orange {
  border-color: var(--orange);
}


/* C A R D S */

.card-title {
  font-size: 22px;
  letter-spacing: 1px;
  padding: 10px 20px;  
}

.btn-new-card {
  padding: 25px;
  background-color: var(--grayBlueOk);
  border-radius: 3px;
  margin: 7px 0 7px 0;
}

.btn-new-card:hover {
  background-color: var(--grayBlue);
}

/* U T I L S */

.separator {
  height: 100%;
  border-top: 1px solid var(--grayBlue);
  margin: 20px 0;  
}

.title-lg {
  color: white;
  font-weight: normal;

  font-size: 24px;
  letter-spacing: 2px;
}

.title-sm {
  color: white;
  font-weight: normal;

  font-size: 18px;
  letter-spacing: 2px;
}

.sub-title {
  color: var(--grayBlueLight);
}

.marker{
  color: var(--green);
}

.link-text{
  paddin: 15px 0;
}

.icon-btn {
  cursor: pointer;
}

/* S C R O L L */

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 8px rgba(0,0,0,0.3);
    background-color: var(--grayBlueLight); 
    border-radius: 3px;
}

::-webkit-scrollbar-thumb {
    background: var(--grayBlueOk); 
    border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--grayBlue); 
}

/* F O R M */

.form-box {
  padding: 30px;
  margin-top: 40px;
  background-color: var(--grayBlue);
  border-radius: 3px;
}

.form-box-input {
  padding-bottom: 20px;
}

.form-box-input > label {
  color: var(--grayBlueLight);
  width: 100%;
  margin-bottom: 7px;
  word-wrap: break-word;
  display: block;
}

.form-box-input > input[type=text], input[type=password] {
  width: 100%; 
}

.form-separator {
  border-top: 1px solid var(--grayBlueOk);
  margin: 5px 0;
}

.form-btn-group {
  margin-top: 10px;
}

/* B O A R D */

.title-session {
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: 'Ubuntu', sans-serif;
  border-radius: 3px;
  padding: 15px 32px;
  font-size: 14px;  
  letter-spacing: 1px;
  width: 100%;
  margin-bottom: 20px;
}

.pink-title {
  background-color: var(--pink);
}

.green-title {
  background-color: var(--darkGreen);
}

.blue-title {
  background-color: var(--blue);
}

.orange-title {
  background-color: var(--orange);
}

.board {
  width: 100%;
  height: 100%;
  overflow: auto;
}

/* C O L O R  P A L L E T  */

.color-pallet{
  width: 60px;
  height: 60px;
  border: solid 4px var(--grayBlueOk);
  border-radius: 100px;
  margin: 10px;
}

.color-green {
  background-color: var(--green);
}

.color-pink {
  background-color: var(--pink);
}

.color-orange {
  background-color: var(--orange);
}

.color-blue {
  background-color: var(--blue);
}

/* R A D I O  B U T T O N  C O L L O R */


.radio-color-pallet {
  display:none;
}

.radio-color-pallet + label{
  width: 60px;
  height: 60px;
  border-radius: 100px;
  border: solid 4px var(--grayBlue);
  text-align: center;
  color: transparent;
  padding:14px;

  display:inline-block;
  cursor:pointer;
  vertical-align:middle;

}

.radio-color-pallet:checked + label{
  color: white;
  border: solid 4px var(--grayBlueOk);
}

.radio-color-pallet:hover + label {
  opacity: 0.8;
}

/* C H E C K B O X */

.container-check {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container-check input {
  position: absolute;
  opacity: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: var(--grayBlueOk);
  border-radius: 5px;
  border: 1px solid var(--grayBlueDark);
}

/* On mouse-over, add a grey background color */
.container-check:hover input ~ .checkmark {
    background-color: var(--grayBlue);
}

/* When the checkbox is checked, add a blue background */
.container-check input:checked ~ .checkmark {
    background-color: var(--green);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container-check input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container-check .checkmark:after {
    left: 8px;
    top: 4px;
    width: 7px;
    height: 12px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* P O S T  I T */

.post-it {
  color: var(--grayBlueDark);
  width:200px; 
  padding: 10px;

  box-shadow: 0px 4px 6px #333;
  -moz-box-shadow: 0px 4px 6px #333;
  -webkit-box-shadow: 0px 4px 6px #333;
}

.pt-body {
  padding: 0 10px 10px 10px; 
  font-family: 'Coming Soon', cursive; 
  font-size:16px; 
  min-height: 120px;
  word-wrap: break-word;
}

.pt-box {
  padding: 15px;
}

.pt-icon {
  display: flex;
  align-items: center;
  padding: 2px;
  border-radius: 5px;
}

.icon-selected {
  color: white;
}

.post-it-separator {
  padding-bottom: 10px;
  width: 100%;
}

.pt-input {
  background-color: transparent;
  font-family: 'Coming Soon', cursive;
  font-size: 16px;
  border: none;
  color: var(--grayBlueDark);
  margin: 3px;
}

.pt-input::-webkit-input-placeholder {
  font-family: 'Coming Soon', cursive;
  font-size: 15px;
}

.pt-input:-ms-input-placeholder {
  font-family: 'Coming Soon', cursive;
}

.pt-input:-moz-placeholder {
  font-family: 'Coming Soon', cursive;
}

.pt-input::-moz-placeholder {
  font-family: 'Coming Soon', cursive;
}

/* rotatation */

.pt-rotation-1 { 
  -moz-transform: rotate(2deg);
  -webkit-transform: rotate(2deg);
  -o-transform: rotate(2deg);
  -ms-transform: rotate(2deg);
  transform: rotate(2deg);
}

/* colors */

.bg-pink { background: #F5BDC7; }
.icon-selected > .pink-selected { background-color: var(--pink); }
.bg-pink > .post-it-separator { border-top: 1px dashed var(--pink); }

.bg-blue { background: #B5C8E1; }
.icon-selected > .blue-selected { background-color: var(--blue); }
.bg-blue > .post-it-separator { border-top: 1px dashed var(--blue); }

.bg-green { background: #A8DFE0; }
.icon-selected > .green-selected { background-color: var(--darkGreen); }
.bg-green > .post-it-separator { border-top: 1px dashed var(--darkGreen); }

.bg-orange { background: #FEFABC; }
.icon-selected > .orange-selected { background-color: var(--orange); }
.bg-orange > .post-it-separator { border-top: 1px dashed var(--orange); }

.pink-highlighter { background-color: var(--pink); }
.blue-highlighter { background-color: var(--blue); }
.green-highlighter { background-color: var(--green); }
.orange-highlighter { background-color: var(--orange); }


.mobile-version {
  display: none; 
}

/* grupo de resultado */

.btn-empty {
  border: 2px dotted var(--grayBlueLight);
  padding: 10px;
  border-radius: 5px;
  color: var(--grayBlueOk);
  font-size: 15px;
  cursor: pointer;
  font-family: 'Coming Soon', cursive;
}

.btn-empty:hover {
  background-color: rgba(144, 153, 183, 0.12); 
}

.btn-full {
  /*background-color: var(--grayBlueOk);*/
  color: white;
  padding: 7px 5px;
  border-radius: 5px;
  font-size: 15px;
  cursor: pointer;
  font-family: 'Coming Soon', cursive;
}


/* R O T A T I O N */

.post-it-container{
  -moz-transform: rotate(-5deg);
  -webkit-transform: rotate(-5deg);
  -o-transform: rotate(-5deg);
  -ms-transform: rotate(-5deg);
  transform: rotate(-5deg);
}

.post-it-container:nth-child(even){
  -moz-transform: rotate(3deg);
  -webkit-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
}

.post-it-container:nth-child(2n){
  -moz-transform: rotate(-2deg);
  -webkit-transform: rotate(-2deg);
  -o-transform: rotate(-2deg);
  -ms-transform: rotate(-2deg);
  transform: rotate(-2deg);
}

.post-it-container:nth-child(4n){
  -moz-transform: rotate(4deg);
  -webkit-transform: rotate(4deg);
  -o-transform: rotate(4deg);
  -ms-transform: rotate(4deg);
  transform: rotate(4deg);
}


@media screen and (max-width: 768px) {
  .mobile-version {
    display: initial;
  }
  .normal-version {
    display: none;
  }
}