@import url('https://fonts.googleapis.com/css?family=Ubuntu');

:root {
  --lightGreen: #;
  --green: #11a8ab;
  --darkGreen: #009699;
  --pink: #e64c65;
  --darkPink: #cc324b;
  --blue: #3468af;
  --darkBlue: #1a4e95;
  --orange: #fcb150;
  --grayBlueDark: #1f253d;
  --grayBlue: #394264;
  --grayBlueOk: #50597b;
  --grayBlueLight: #9099b7;
}

*,
:before,
:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  color: white;
  background-color: #1f253d;
}

.material-icons.md-dark { color: var(--grayBlueLight); }

.container-base {
	background-color:	#394264;
  border-radius: 3px;
  margin: 7px 0 7px 0;
}

/* B U T O N S */

.btn {
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: 'Ubuntu', sans-serif;
  border-radius: 3px;
}

.btn-md {
  padding: 15px 32px;
  font-size: 14px;	
  letter-spacing: 1px;
}

.btn-sm {
	padding: 10px 16px;
  font-size: 10px;	
}

.green-bg-btn {
  background-color: var(--green);
}

.green-bg-btn:hover {
	background-color: var(--darkGreen);
}

.pink-bg-btn {
  background-color: var(--pink);
}

.pink-bg-btn:hover {
  background-color: var(--darkPink)
}

.blue-bg-btn {
  background-color: var(--blue);
}
.blue-bg-btn:hover {
  background-color: var(--darkBlue)
}

.inactive-bg-btn {
  background-color: var(--grayBlueOk)
}

/* I N P U T S */

.input-form {
  border: 1px solid var(--grayBlueDark);
  padding: 12px;
  font-size: 1.2em;
  border-radius: 5px;
  background-color: var(--grayBlueOk);
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
  color: white;
}

.input-form::placeholder {
  color: var(--grayBlueLight);
}

.input-form:focus {
	border-color: var(--green);
}

/* I T E N S */

.item {
  background-color: var(--grayBlueOk);
  margin: 0 1px 0 1px;
  padding: 10px;
  font-size: 14px;
  letter-spacing: 2px;
  /*color: var(--grayBlueLight);*/
}

.item-bottom {
  border-top: solid 2px;
}

.col-item-start {
  padding-right: 0;
  border-bottom-left-radius: 3px;
}

.col-item-end {
  padding-left: 0;
  border-bottom-left-radius: 3px;
}

.col-item {
  padding: 0;
}

.item-last {
  margin-right: 0;
  border-bottom-right-radius: 3px;
}

.item-pink {
  border-color: var(--darkPink);
}

.item-green {
  border-color: var(--green);
}

.item-blue {
  border-color: var(--darkBlue);
}

.item-orange {
  border-color: var(--orange);
}


/* C A R D S */

.card-title {
  font-size: 22px;
  letter-spacing: 1px;
  padding: 10px 20px;  
}

.btn-new-card {
  padding: 25px;
  background-color: var(--grayBlueOk);
  border-radius: 3px;
  margin: 7px 0 7px 0;
}

.btn-new-card:hover {
  background-color: var(--grayBlue);
}

/* U T I L S */

.separator {
  height: 100%;
  border-top: 1px solid var(--grayBlue);
  margin: 20px 0;  
}

.title-sm {
  color: var(--grayBlueLight);
  font-weight: normal;

  font-size: 18px;
  letter-spacing: 1px;
}
