@import url('https://fonts.googleapis.com/css?family=Ubuntu');

:root {
  --lightGreen: #;
  --green: #11a8ab;
  --darkGreen: #009699;
  --pink: #e64c65;
  --darkPink: #cc324b;
  --blue: #3468af;
  --darkBlue: #1a4e95;
  --orange: #fcb150;
  --grayBlueDark: #1f253d;
  --grayBlue: #394264;
  --grayBlueOk: #50597b;
  --grayBlueLight: #9099b7;
}

*,
:before,
:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  color: white;
  background-color: #1f253d;
}

.material-icons.md-dark { color: var(--grayBlueDark); }
.material-icons.md-light { color: var(--grayBlueLight); }

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

.container-base {
	background-color:	#394264;
  border-radius: 3px;
  margin: 7px 0 7px 0;
}

/* B U T O N S */

.btn {
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: 'Ubuntu', sans-serif;
  border-radius: 3px;
}

.btn-md {
  padding: 15px 32px;
  font-size: 14px;	
  letter-spacing: 1px;
}

.btn-sm {
	padding: 10px 16px;
  font-size: 10px;	
}

.btn-stretch {
  width: 100%;
}

.green-bg-btn {
  background-color: var(--green);
}

.green-bg-btn:hover {
	background-color: var(--darkGreen);
}

.pink-bg-btn {
  background-color: var(--pink);
}

.pink-bg-btn:hover {
  background-color: var(--darkPink)
}

.blue-bg-btn {
  background-color: var(--blue);
}
.blue-bg-btn:hover {
  background-color: var(--darkBlue)
}

.inactive-bg-btn {
  background-color: var(--grayBlueOk)
}

/* I N P U T S */

.input-form {
  border: 1px solid var(--grayBlueDark);
  padding: 12px;
  font-size: 1.2em;
  border-radius: 5px;
  background-color: var(--grayBlueOk);
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
  color: white;
}

.input-form::placeholder {
  color: var(--grayBlueLight);
}

.input-form:focus {
	border-color: var(--green);
}

/* I T E N S */

.item {
  background-color: var(--grayBlueOk);
  margin: 0 1px 0 1px;
  padding: 10px;
  font-size: 14px;
  letter-spacing: 2px;
  /*color: var(--grayBlueLight);*/
}

.item-bottom {
  border-top: solid 2px;
}

.col-item-start {
  padding-right: 0;
  border-bottom-left-radius: 3px;
}

.col-item-end {
  padding-left: 0;
  border-bottom-left-radius: 3px;
}

.col-item {
  padding: 0;
}

.item-last {
  margin-right: 0;
  border-bottom-right-radius: 3px;
}

.item-pink {
  border-color: var(--darkPink);
}

.item-green {
  border-color: var(--green);
}

.item-blue {
  border-color: var(--darkBlue);
}

.item-orange {
  border-color: var(--orange);
}


/* C A R D S */

.card-title {
  font-size: 22px;
  letter-spacing: 1px;
  padding: 10px 20px;  
}

.btn-new-card {
  padding: 25px;
  background-color: var(--grayBlueOk);
  border-radius: 3px;
  margin: 7px 0 7px 0;
}

.btn-new-card:hover {
  background-color: var(--grayBlue);
}

/* U T I L S */

.separator {
  height: 100%;
  border-top: 1px solid var(--grayBlue);
  margin: 20px 0;  
}

.title-lg {
  color: white;
  font-weight: normal;

  font-size: 24px;
  letter-spacing: 2px;
}

.title-sm {
  color: white;
  font-weight: normal;

  font-size: 18px;
  letter-spacing: 2px;
}

.sub-title {
  color: var(--grayBlueLight);
}

/* S C R O L L */

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 8px rgba(0,0,0,0.3);
    background-color: var(--grayBlueLight); 
    border-radius: 3px;
}

::-webkit-scrollbar-thumb {
    background: var(--grayBlueOk); 
    border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--grayBlue); 
}


/* F O R M */
.form-box {
  padding: 30px;
  margin-top: 40px;
  background-color: var(--grayBlue);
}

.form-box-input {
  padding-bottom: 20px;
}

.form-box-input > label {
  color: var(--grayBlueLight);
  width: 100%;
  margin-bottom: 7px;
  word-wrap: break-word;
  display: block;
}

.form-box-input > input[type=text] {
  width: 100%; 
}

.form-box-input > input[type=date] {
  width: 50%; 
}

.form-separator {
  border-top: 1px solid var(--grayBlueOk);
  margin: 5px 0;
}

.form-btn-group {
  margin-top: 10px;
}

/* C O L O R  P A L L E T  */

.color-pallet{
  width: 60px;
  height: 60px;
  border: solid 4px var(--grayBlueOk);
  border-radius: 100px;
  margin: 10px;
}

.color-green {
  background-color: var(--green);
}

.color-pink {
  background-color: var(--pink);
}

.color-orange {
  background-color: var(--orange);
}

.color-blue {
  background-color: var(--blue);
}

