<nav-bar-header></nav-bar-header>

<div class="row">
	<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-lg-6">

		<div class="row start-xs">
			<div class="col-xs">
				<form class="form-box" name="boardForm" ng-submit="submitBoardForm(board)" novalidate>

					<p class="title-sm">CADASTRO DE BOARD</p>
					
					<div class="form-box-input">
						<label>Título <span class="marker">*</span></label>
						<input name="titulo" type="text" maxlength="128" class="input-form" ng-model="board.title" placeholder="" required>
						<div ng-if="boardForm.titulo.$touched" class="box-erro" role="alert">
							<div ng-if="boardForm.titulo.$error.required">Campo obrigatório.</div>
							<div ng-if="boardForm.titulo.$error.maxlength">Campo deve ter menos de 128 caracteres.</div>
      					</div>
					</div>

					<div class="form-box-input">
						<label>Data Limite para postagens <span class="marker">*</span></label>
						<input name="date" type="date" class="input-form" ng-model="board.deadline" placeholder="" min={{today}} required>
						<div ng-if="boardForm.date.$touched" class="box-erro" role="alert">
							<div ng-if="boardForm.date.$error.required">Campo obrigatório.</div>
							<div ng-if="boardForm.date.$error.min">Por favor, informe uma data maior que hoje.</div>
      			</div>
					</div>

					<div class="form-separator"></div>

					<p class="title-sm sub-title">SESSÕES</p>

					<div class="form-box-input">
						<label>Título <span class="marker">*</span></label>
						<input name="tituloSession" type="text" maxlength="128" class="input-form" ng-model="session.title" placeholder="" >
						
					</div>

					<div class="form-box-input">
						<label>Cor <span class="marker">*</span></label>						

						<div class="row around-xs">

							<input type="radio" id="r1" name="cor" value="0" ng-model="session.color" class="radio-color-pallet" checked="checked" />
    					<label for="r1" style="background-color: var(--orange);">
    						<i class="material-icons">check</i>
    					</label>

    					<input type="radio" id="r2" name="cor" value="1" ng-model="session.color" class="radio-color-pallet" />
    					<label for="r2" style="background-color: var(--blue);">
    						<i class="material-icons">check</i>
    					</label>

    					<input type="radio" id="r3" name="cor" value="2" ng-model="session.color" class="radio-color-pallet" />
    					<label for="r3" style="background-color: var(--pink);">
    						<i class="material-icons">check</i>
    					</label>

    					<input type="radio" id="r4" name="cor" value="3" ng-model="session.color" class="radio-color-pallet" />
    					<label for="r4" style="background-color: var(--green);">
    						<i class="material-icons">check</i>
    					</label>		

						</div>

				  </div>

					<div class="row center-xs">
						<div class="col-xs-12">
			  			<button type="button" ng-click="submitSessionForm(session)" class="btn btn-sm green-bg-btn stretch">+ ADICIONAR</button>
						</div>
					</div>

					<div ng-repeat="session in board.sessions">
						<div class="row middle-xs">
							<div class="col-sm-2 col-xs-4">
								<div class="color-pallet color-{{colorPallet[session.color]}}"></div>
							</div>
							<div class="col-sm-10 col-xs-8">
								<p>{{session.title}}</p>
							</div>
						</div>
					</div>

					<div class="form-btn-group">

						<div class="row center-xs">
							<div class="col-sm col-xs-6">
								<button class="btn btn-md inactive-bg-btn stretch">CANCELAR</button>
							</div>
							<div class="col-sm col-xs-6">
								<button type="submit" class="btn btn-md green-bg-btn stretch">SALVAR</button>
							</div>
						</div>

					</div>

				</form>
			
			</div>
		</div>

	</div>
</div>