<nav-bar-header></nav-bar-header>

<div class="row middle-xs normal-version">
	<div class="col-xs start-xs">
		<p class="title-lg"><a ng-if="isAdmin" class="btn btn-sm inactive-bg-btn" ng-href="/#!/board/{{board.id}}/edit"><i class="material-icons">settings</i></a> {{board.title}}</p>
	</div>

	<div class="col-xs" ng-if="isAdmin && !boardStatus">
		<a class="link-text" ng-href="/#!/board/{{board.id}}/result-group">
			<div class="row end-xs middle-xs">
				Acessar Grupo de Resultado
				<i class="material-icons">chevron_right</i>
			</div>
		</a>
	</div>

</div>

<div class="row middle-xs mobile-version">
	<div class="col-xs-12 end-xs" ng-if="isAdmin && !boardStatus">
		<a class="link-text" ng-href="/#!/board/{{board.id}}/result-group">
			<div class="row end-xs middle-xs">
				Acessar Grupo de Resultado
				<i class="material-icons">chevron_right</i>
			</div>
		</a>
	</div>

	<div class="col-xs-12 start-xs">
		<p class="title-lg"><a ng-if="isAdmin" class="btn btn-sm inactive-bg-btn" ng-href="/#!/board/{{board.id}}/edit"><i class="material-icons">settings</i></a> {{board.title}}</p>
	</div>
</div>

<div class="box">

<div class="row middle-xs">
	<div class="col-xs">
		<div class="container-base" style="padding: 3px; letter-spacing: 2px">
				<p>{{boardStatus ? 'Ativo' : 'Inativo'}} - Data de inativação:  {{deadline | date: 'dd.MM.yyyy'}}</p>

		</div>

	</div>
</div>
</div>

<div class="board">

	<div id="row-sessions" ng-style="rowStyle">
		<div class="row" style="width: 100%">

			<!-- inicio da session -->

			<div class="col-xs" ng-repeat="session in sessions">
				<div class="box">
					<div class="container-base">

						<div class="row">
							<div class="col-xs">
								<div class="title-session {{colorPallet[session.color]}}-title">
									{{session.title}}
								</div>
							</div>
						</div>

						<div class="row center-xs">

							<div class="pt-box">

								<div ng-if = "boardStatus" class="post-it pt-rotation-1 bg-{{colorPallet[session.color]}}">
									<div class="row">
										<div class="col-xs">
											<textarea ng-model="card.text" maxlength="300" class="pt-input" placeholder="Escreva um novo post it aqui..." rows="5" cols="15"></textarea>
											<button ng-click="submitCardForm(card, session)" class="btn btn-sm {{colorPallet[session.color]}}-bg-btn">ENVIAR</button>
										</div>
									</div>
								</div>

							</div>

								<div class="post-it-container" ng-repeat="card in session.cards">
									<post-it info="card" color="colorPallet[session.color]" board-status="boardStatus" my-Result-Group="findIdResultGroup(card.id)" card-messages="cardMessages" is-admin="isAdmin"></post-it>
								</div>
								

						</div>

					</div>
				</div>
			</div>

			<!-- fim da session -->

		</div>

	</div>
</div>
