<nav-bar-header></nav-bar-header>

<div class="row between-xs">
	<div class="col-sm-12 col-md-6 col-xs-12">

			<div class="row start-xs">
				<div class="col-xs">
					<form class="form-box" name="boardForm" ng-submit="submitBoardForm(board)" novalidate>

						<div class="col-xs-12">
							<a class="link-text" ng-href="/#!/board/{{idBoard}}">
								<div class="row middle-xs">
									<i class="material-icons">chevron_left</i>
									Voltar ao Board
								</div>
							</a>
						</div>

						<p class="title-lg">Configurações do Board</p>
						
						<div class="form-box-input">
							<label>Título <span class="marker">*</span></label>
							<input name="titulo" type="text" class="input-form" ng-model="board.title" placeholder="" maxlength="128" required>
							<div ng-if="boardForm.titulo.$touched" class="box-erro" role="alert">
								<div ng-if="boardForm.titulo.$error.required">Campo obrigatório.</div>
								<div ng-if="boardForm.titulo.$error.maxlength">Campo deve ter menos de 128 caracteres.</div>
        					</div>
						</div>
						<div class="row middle-xs">
							<div class="col-xs">
								<div class="form-box-input">
									<label>Data Limite para postagens <span class="marker">*</span></label>
									<input name="date" type="date" class="input-form" ng-model="board.deadline" ng-readonly="!active" min={{today}} required>
									<div ng-if="boardForm.date.$touched && active" class="box-erro" role="alert">
							      <div ng-if="boardForm.date.$error.required">Campo obrigatório.</div>
							      <div ng-if="boardForm.date.$error.min">Por favor, informe uma data maior que hoje.</div>
        					</div>
								</div>
							</div>
							<div class="col-xs">
								<label class="container-check">Ativo
								  <input type="checkbox" ng-checked="checked" ng-click="changeStatus()" ng-model="active">
								  <span class="checkmark"></span>
								</label>
								
							</div>
							
						</div>


						<div class="form-btn-group">

							<div class="row center-xs">
								<div class="col-sm col-xs-6">
									<a ng-href="/#!/board/{{idBoard}}" class="btn btn-md inactive-bg-btn stretch">CANCELAR</a>
								</div>
								<div class="col-sm col-xs-6">
									<button type="submit" class="btn btn-md green-bg-btn stretch">SALVAR</button>
								</div>
							</div>

						</div>


					</form>
				
				</div>
			</div>
	</div>

	<div class="col-sm-12 col-md-6 col-xs-12">

		<div class="form-box" >
			<div class="row start-xs">

				<div class="col-xs-12">
					<form novalidate name="formLogin" >
						<p class="title-lg">Buscar Pessoas</p>
		            
		        <div class="form-box-input">
		          <label>Email</label>
		          <div class="row">
		          	<div class="col-lg-8 col-md-7 col-sm-8 col-xs-12">
			          	<input type="text" class="input-form stretch" ng-model="usuario.email" placeholder="exemplo@email.com">
		          	</div>
			          <div class="col-xs">
		        			<button type="submit"  ng-click="findPersonByEmail(usuario.email)" class="btn btn-md green-bg-btn stretch">BUSCAR</button>
			          </div>
		          </div>
		        </div>
		               

		      </form>	
				</div>

				<div class="col-xs">

					<div class="row middle-xs" ng-repeat="person in persons">
						<div class="col-xs-3 col-sm-2 col-md-3 col-lg-2">
							<button type="button" ng-click="addMembers(person.id)" class="btn btn-sm green-bg-btn">
								<i class="material-icons">add</i>
							</button>
						</div>
						<div class="col-xs">
							<p class="title-sm">{{person.fullName}} - {{person.email}}</p>
						</div>
						<div class="col-xs-12">
							<div class="form-separator"></div>
						</div>
					</div>
				
				</div>

				<div class="col-xs-12">
					<p class="title-lg">Membros</p>
				</div>

				<div class="col-xs">

					<div class="row middle-xs" ng-repeat="member in members">	
						<div class="col-xs-3 col-sm-2 col-md-3 col-lg-2">
							<button class="btn btn-sm inactive-bg-btn">
								<i class="material-icons">check</i>
							</button>
						</div>
						<div class="col-xs">
							<p class="title-sm">{{member.fullName}} - {{member.email}}</p>
						</div>
						<div class="col-xs-12">
							<div class="form-separator"></div>
						</div>
					</div>
					
				</div>

      </div>
		</div>

	</div>
</div>