<nav-bar-header></nav-bar-header>

<link rel="stylesheet" type="text/css" href="components/board/style.css">

<div class="row start-xs">
	<div class="col-xs">
		<p class="title-sm">{{board.title}}</p>
	</div>
</div>

<div class="board">
	
	<div id="row-sessions" ng-style="rowStyle">
		<div class="row" style="width: 100%">	

			<!-- inicio da session -->

			<div class="col-xs" ng-repeat="session in sessions">
				<div class="box">
					<div class="container-base">
						
						<div class="row">
							<div class="col-xs">
								<div class="title-session pink-title">
									{{session.title}}
								</div>
							</div>
						</div>

						<div class="row center-xs">

							<div class="pt-box">

								<div pink class="post-it pt-rotation-1">
									<div class="row">
										<div class="col-xs">		
											<textarea class="pt-input" placeholder="Escreva um novo post it aqui..." rows="5" cols="15"></textarea>
											<button class="btn btn-sm pink-bg-btn">ENVIAR</button>
										</div>
									</div>
								</div>

							</div>

							<div ng-repeat= "card in sessions.cards">
								<post-it info="card"></post-it>
							</div>

						</div>

					</div>
				</div>
			</div>

			<!-- fim da session -->

			<div class="col-xs">
				<div class="box">
					<div class="container-base">

						OI GENTE
						
					</div>
				</div>
			</div>

		</div>

	</div>
</div>