<nav-bar-header></nav-bar-header>

<div class="container-base">
	<div class="row center-xs">
		<div class="col-xs-10">
			

			<div class="row start-xs">

				<div class="col-xs-12">
					<a ng-href="/#!/board/{{idBoard}}">
						<div class="row middle-xs">
							<i class="material-icons">chevron_left</i>
							Voltar ao Board
						</div>
					</a>
				</div>

				<div class="col-xs-12">
					<form novalidate name="formLogin" ng-submit="login(usuario)">
						<p class="title-lg">Buscar Pessoas</p>
		            
		        <div class="form-box-input">
		          <label>Email</label>
		          <div class="row">
		          	<div class="col-lg-10 col-md-9 col-sm-8 col-xs-12">
			          	<input type="text" class="input-form stretch" ng-model="usuario.email" placeholder="exemplo@email.com">
		          	</div>
			          <div class="col-xs">
		        			<button type="submit" ng-click="findPersonByEmail(usuario.email)" class="btn btn-md green-bg-btn stretch">BUSCAR</button>
			          </div>
		          </div>
		        </div>
		               

		      </form>	
				</div>

				<div class="col-xs">

					<div class="row middle-xs" ng-repeat="person in persons">
						<div class="col-xs-3 col-sm-2 col-lg-1">
							<button type="button" ng-click="addMembers(person.id)" class="btn btn-sm green-bg-btn">
								<i class="material-icons">add</i>
							</button>
						</div>
						<div class="col-xs">
							<p class="title-sm">{{person.full_name}}</p>
						</div>
						<div class="col-xs-12">
							<div class="form-separator"></div>
						</div>
					</div>
				
				</div>

				<div class="col-xs-12">
					<p class="title-lg">Membros</p>
				</div>

				<div class="col-xs">
					
					<div class="row middle-xs" ng-repeat="member in members">	
						<div class="col-xs-2 col-lg-1">
							<button class="btn btn-sm inactive-bg-btn">
								<i class="material-icons">check</i>
							</button>
						</div>
						<div class="col-xs">
							<p class="title-sm">{{member.full_name}}</p>
						</div>
						<div class="col-xs-12">
							<div class="form-separator"></div>
						</div>
					</div>
					
				<!-- 	<div class="row middle-xs">	
						<div class="col-xs-2 col-lg-1">
							<button class="btn btn-sm inactive-bg-btn">
								<i class="material-icons">check</i>
							</button>
						</div>
						<div class="col-xs">
							<p class="title-sm">hell</p>
						</div>
						<div class="col-xs-12">
							<div class="form-separator"></div>
						</div>
					</div>
 -->
				</div>

      </div>
			
		</div>
	</div>
</div>