<nav-bar-header></nav-bar-header>

<div class="row">
	<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-lg-6">

			<div class="row start-xs">
				<div class="col-xs">
					<form class="form-box">

						<p class="title-sm">CADASTRO DE BOARD</p>
						
						<div class="form-box-input">
							<label>Título</label>
							<input type="text" class="input-form" name="" placeholder="">
						</div>

						<div class="form-box-input">
							<label>Data Limite para postagens</label>
							<input type="date" class="input-form" name="" placeholder="">
						</div>

						<div class="form-separator"></div>

						<p class="title-sm sub-title">SESSÕES</p>

						<div class="form-box-input">
							<label>Título</label>
							<input type="text" class="input-form" name="" placeholder="">
						</div>

						<div class="form-box-input">
							<label>Cor</label>							
						  <input type="radio" name="cor" value="0">Laranja
							<input type="radio" name="cor" value="1">Verde
						  <input type="radio" name="cor" value="2">Rosa
						  <input type="radio" name="cor" value="3">Azul
					  </div>

						<div class="row center-xs">
							<div class="col-xs-12">
				  			<button class="btn btn-sm green-bg-btn btn-stretch">+ ADICIONAR</button>
							</div>
						</div>

						<div>
							<div class="row middle-xs">
								<div class="col-xs-2">
									<div class="color-pallet color-green"></div>
								</div>
								<div class="col-xs-10">
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing</p>
								</div>
							</div>
						</div>

						<div>
							<div class="row middle-xs">
								<div class="col-xs-2">
									<div class="color-pallet color-pink"></div>
								</div>
								<div class="col-xs-10">
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing</p>
								</div>
							</div>
						</div>

						<div class="form-btn-group">

							<div class="row center-xs">
								<div class="col-sm col-xs-6">
									<button class="btn btn-md inactive-bg-btn">CANCELAR</button>
								</div>
								<div class="col-sm col-xs-6">
									<button class="btn btn-md green-bg-btn">SALVAR</button>
								</div>
							</div>

						</div>

					</form>
				
				</div>
			</div>


	</div>
</div>