<link rel="stylesheet" type="text/css" href="components/header/style.css">

<div class="header">
  <div class="row between-xs bottom-xs">

    <div class="col-sm col-xs-3">
      <div class="row start-xs">
        <div class="col-lg-4 col-md-5 col-sm-6">
          <div class="box">
            <a href="/#!/dashboard"> <img class="img-logo"></a>

          </div>
        </div>
      </div>
    </div>

    <div class="col-xs">
      <div class="row end-xs">
        <div class="col-xs">
          <div class="dropdown">

            <div class="btn btn-md">
              <div class="row middle-xs">
                Olá, {{usuario.fullName}}
                <i class="material-icons">keyboard_arrow_down</i>
              </div>
            </div>

            <div class="dropdown-content">
              <span class="dropdown-item" ng-click="logout()">Sair</span>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
