<div id="container">
  <nav>
<a id="resp-menu" class="responsive-menu" href="#"><i class="fa fa-reorder"></i> Menu</a>
   <ul id="baseMenu" class="menu">
    <img src="components/header/Logo-StoneBoard-Navbar.jpg" id="logo-header">

    <li id="notification"><a  href="#"><i class="fa fa-bell"></i> Notificações</a>
        <ul class="sub-menu">
         <li><a href="#">Você recebeu um convite para um novo board</a></li>
         </ul>
        </li>

    <li id="infouser"><a  href="#"><i class="fa fa-user"></i> Olá, {{ usuario.nome }}</a>
  <ul class="sub-menu">
   <li><a href="#">Minha conta</a></li>
   <li><a href="#">Sair</a></li>
   </ul>
  </li>


  </ul>
  </nav>
</div>
