/* H E A D E R*/

.img-logo {
  width: 100%;
  height: auto;
  padding: 10px;
  content:url("../../assets/images/logo-stone-board-header.svg");
}

@media (max-width: 991px){
  .img-logo {
    padding: 3px 0 0 10px;
    content:url("../../assets/images/logo-stone-board.svg");
  }
}

.header {
  background-color: var(--grayBlue);
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

/* D R O P D O W N */

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
}

.dropdown-item {
  display: block;
  background-color: var(--grayBlueOk);
  border-bottom: 2px solid var(--grayBlue);
  padding: 15px;
  min-width: 140px;
}

.dropdown-item:hover {
  background-color: var(--grayBlue);
}

.dropdown:hover .dropdown-content {
  display: block;
}