<div class="pt-box">
		<div class="post-it bg-{{color}}">

		<div class="row end-xs" ng-if="isWriter">
			<div class="col-xs">

				<i class="material-icons md-dark icon-btn" ng-if="!editMode && boardStatus" ng-click="changeMode(true)">mode_edit</i>
				<i class="material-icons md-dark icon-btn" ng-if="boardStatus"  ng-click="deleteCard()">close</i>
			</div>
		</div>
		<div class="row" ng-style="paddingCard">
			<div class="col-xs">
				<textarea maxlength="300" class="pt-input" ng-if="editMode" ng-model="postIt.text" rows="5" cols="18"></textarea>
				<div class="pt-body" ng-model="postIt.text" ng-if="!editMode">	{{postIt.text}}</div>
			</div>
		</div>
		<div class="post-it-separator" ng-if="boardStatus">	</div>


		<div class="row arund-xs" ng-if="editMode">
			<div class="col-xs">
					<i class="material-icons md-dark md-24" ng-click="undo()">undo</i>
			</div>
			<div class="col-xs">
					<i class="material-icons md-dark md-24" ng-click="update(newText)">done</i>
			</div>
		</div>

		<div class="row arund-xs" ng-if="!editMode && boardStatus">
			<div class="col-xs {{votoPositivo}}">
				<div class="pt-icon {{color}}-selected center-xs">
					<i class="material-icons md-dark" ng-click="vote(true)">keyboard_arrow_up</i>
					<span>{{vPositivo.length}}</span>
				</div>
			</div>
			<div class="col-xs {{votoNegativo}}">
				<div class="pt-icon {{color}}-selected center-xs">
					<i class="material-icons md-dark" ng-click="vote(false)">keyboard_arrow_down</i>
					<span>{{vNegativo.length}}</span>
					
				</div>
			</div>

			<div class="col-xs center-xs">
				<div class="pt-icon">
					<i class="material-icons md-dark" ng-click='showModalComment()'>message</i>{{postIt.notes.length}}
				</div>
			</div>

		</div>

		<div ng-if="!boardStatus && isAdmin">
			<div class="row center-xs" ng-if="!!myResultGroup">
				<div class="btn-full {{color}}-highlighter" ng-click='showModalResultGroup()'><i class="material-icons md-18">check</i> Grupo de Resultado</div>
			</div>

			<div class="row center-xs" ng-if="!myResultGroup">
				<div class="btn-empty" ng-click='showModalResultGroup()'><b> +</b> Grupo de Resultado </div>
			</div>
		</div>

	</div>
</div>
