<div class="pt-box">

	<div pink class="post-it pt-rotation-1">
		<div class="row end-xs">
			<div class="col-xs">
				<i class="material-icons md-dark">mode_edit</i>
				<i class="material-icons md-dark">close</i>
			</div>
		</div>
		<div class="row">
			<div class="col-xs">
				<!--<textarea class="pt-input" placeholder="Escreva um novo post it aqui..." rows="5" cols="15">um texto bem bonito aqui pra galera ficar bem feliz gostei de tudo nessa sprint beijo pra todo mundo</textarea>-->
				<div class="pt-body" ng-model= "c.text">{{c.text}}</div>
			</div>
		</div>
		<div class="post-it-separator">	</div>

<!--
		<div class="row arund-xs">
			<div class="col-xs">
					<i class="material-icons md-dark md-24">undo</i>
			</div>
			<div class="col-xs">
					<i class="material-icons md-dark md-24">done</i>
			</div>
		</div>
-->
		<div class="row arund-xs">
			<div class="col-xs">
				<div class="pt-icon">	
					<i class="material-icons md-dark">keyboard_arrow_up</i>25
				</div>
			</div>
			<div class="col-xs">
				<div class="pt-icon icon-selected" pink-selected>	
					<i class="material-icons md-dark" style="color: white">keyboard_arrow_down</i>25
				</div>
			</div>
			<div class="col-xs">
				<div class="pt-icon">
					<i class="material-icons md-dark">message</i>12
				</div>
			</div>

		</div>
	</div>
</div>