@import url('https://fonts.googleapis.com/css?family=Coming+Soon');

/* P O S T  I T */

.post-it {
	color: var(--grayBlueDark);
	width:200px; 
	padding: 10px;

	box-shadow: 0px 4px 6px #333;
	-moz-box-shadow: 0px 4px 6px #333;
	-webkit-box-shadow: 0px 4px 6px #333;
}

.pt-body {
	padding: 0 10px 10px 10px;
	font-family: 'Coming Soon', cursive;
	font-size:16px;
	min-height: 120px;
	word-wrap: break-word;
}

.pt-box {
	padding: 15px;
}

.pt-icon {
	display: flex;
	align-items: center;
	padding: 2px;
	border-radius: 5px
}

.icon-selected {
	color: white;
}

.post-it-separator {
	padding-bottom: 10px;
	width: 100%;
}

.pt-input {
	background-color: transparent;
  font-family: 'Coming Soon', cursive;
  font-size: 16px;
	border: none;
	color: var(--grayBlueDark);
	margin: 3px;
}

.pt-input::-webkit-input-placeholder {
  font-family: 'Coming Soon', cursive;
  font-size: 15px;
}

.pt-input:-ms-input-placeholder {
  font-family: 'Coming Soon', cursive;
}

.pt-input:-moz-placeholder {
  font-family: 'Coming Soon', cursive;
}

.pt-input::-moz-placeholder {
  font-family: 'Coming Soon', cursive;
}

/* C O L O R S */

.bg-pink { background: #F5BDC7; }
.icon-selected > .pink-selected { background-color: var(--pink); }
.bg-pink > .post-it-separator { border-top: 1px dashed var(--pink); }

.bg-blue { background: #B5C8E1; }
.icon-selected > .blue-selected { background-color: var(--blue); }
.bg-blue > .post-it-separator { border-top: 1px dashed var(--blue); }

.bg-green { background: #A8DFE0; }
.icon-selected > .green-selected { background-color: var(--darkGreen); }
.bg-green > .post-it-separator { border-top: 1px dashed var(--darkGreen); }

.bg-orange { background: #FEFABC; }
.icon-selected > .orange-selected { background-color: var(--orange); }
.bg-orange > .post-it-separator { border-top: 1px dashed var(--orange); }
