  <nav-Bar-Header></nav-Bar-Header>

<div class="container-fluid">

  <div class="row" id="login">
    <div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-2 col-lg-offset-3 text-center" id="left">
      <img src="components/login/Logo-StoneBoard-Login.jpg" id="logo-telaLogin">
    </div>

    <div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-4 col-lg-offset-0" id="right">
      <h1 class="text-center">Log In</h1>
  <form novalidate name="formLogin" ng-submit="login(usuario)">
      <div id="username">
        <span>Email:</span>
        <input type="text" ng-model="usuario.email" placeholder="Endereço de email">
      </div>

      <div id="password">
        <span>Senha:</span>
        <input type="password" ng-model="usuario.senha" placeholder="*********">
      </div>

      <button type="submit">Log In</button>

      <div class="text-center" id="acct">
      <span> Não tem uma conta ainda? </span>
      </div>

      <button id="signup-button">Cadastre-se</button>
    </div>
  </div>

</div>
