<link rel="stylesheet" type="text/css" href="components/login/styleLogin.css">

<div class="row middle-xs" id="login-content">

  <div class="row center-xs middle-xs">

    <div class="col-xs-12 col-sm-3 col-lg-2">
      <div id="box-left">
        <div class="row center-xs middle-xs" id="left">
          <div class="col-sm col-xs-6">
            <img src="assets/images/logo-stone-board.svg" id="logo-telaLogin">
          </div>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-lg-4" ng-class="mode" id="right">
      <form novalidate name="formLogin" ng-submit="login(usuario)" ng-class="loginClass">

        <div class="row start-xs">
          <div class="col-xs">
            <p class="title-sm">LOG IN</p>
          </div>
        </div>
        
        <div class="row start-xs">
          <div class="col-xs">
            
            <div class="form-box-input">
              <label>Email</label>
              <input type="text" name="emailLogin" class="input-form" ng-model="usuario.email" placeholder="exemplo@email.com">
            </div>
            
          </div>
        </div>          

        <div class="row start-xs">
          <div class="col-xs">
        
            <div class="form-box-input">
              <label>Senha</label>
              <input type="password" name="passLogin" class="input-form" ng-model="usuario.senha">
            </div>
          </div>
        </div>

        <button type="submit" class="btn btn-md green-bg-btn stretch">Log In</button>

        <p class="text-center"> Não tem uma conta ainda? </p>

        <button type="button" class="btn btn-md inactive-bg-btn stretch" ng-click="loginClass='disappear'; registerClass='appear';">Cadastre-se</button>
      </form>

      <form novalidate name="formRegister" ng-submit="savePerson(person)" ng-class="registerClass">

        <div class="row start-xs">
          <div class="col-xs">
            <p class="title-sm">CADASTRE-SE</p>
          </div>
        </div>

        <div class="row start-xs">
          <div class="col-xs">
            
            <div class="form-box-input">
              <label>Nome Completo</label>
              <input type="text" name="nomeCad" class="input-form" ng-model="person.fullName" maxlength="128" required>
              <div ng-if="formRegister.nomeCad.$touched" class="box-erro" role="alert">
                  <div ng-if="formRegister.nomeCad.$error.required">Campo obrigatório.</div>
                  <div ng-if="formRegister.nomeCad.$error.maxlength">Campo deve ter menos de 128 caracteres.</div>
             </div>
            </div>
            
          </div>
        </div>  
        
        <div class="row start-xs">
          <div class="col-xs">
            
            <div class="form-box-input">
              <label>Email</label>
              <input type="text" name="emailCad" class="input-form" ng-model="person.email" placeholder="exemplo@email.com" maxlength="128" required>
              <div ng-if="formRegister.emailCad.$touched" class="box-erro" role="alert">
                  <div ng-if="formRegister.emailCad.$error.required">Campo obrigatório.</div>
                  <div ng-if="formRegister.emailCad.$error.maxlength">Campo deve ter menos de 128 caracteres.</div>
             </div>
            </div>
            
          </div>
        </div>          

        <div class="row start-xs">
          <div class="col-xs">

            <div class="form-box-input">
              <label>Senha</label>
              <input type="password" name="senhaCad" class="input-form" ng-model="person.pass" maxlength="20" required>
              <div ng-if="formRegister.senhaCad.$touched" class="box-erro" role="alert">
                  <div ng-if="formRegister.senhaCad.$error.required">Campo obrigatório.</div>
                  <div ng-if="formRegister.senhaCad.$error.maxlength">Campo deve ter menos de 20 caracteres.</div>
             </div>
            </div>

          </div>
        </div>

        <button type="submit" class="btn btn-md green-bg-btn stretch">Cadastrar</button>

        <p><a href ng-click="loginClass='appear'; registerClass='disappear';">Já possui uma conta? Clique aqui para acessar.</a></p>

      </form>

    </div>
  </div>

</div>
