<link rel="stylesheet" type="text/css" href="components/login/styleLogin.css">

<div class="row middle-xs" id="login-content">

  <div class="row center-xs">

    <div class="col-xs-12 col-sm-3 col-lg-2">
      <div id="box-left">
        <div class="row center-xs middle-xs" id="left">
          <div class="col-sm col-xs-6">
            <img src="assets/images/logo-stone-board.svg" id="logo-telaLogin">
          </div>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-lg-4" id="right">

      <form novalidate name="formLogin" ng-submit="login(usuario)">

        <div class="row start-xs">
          <div class="col-xs">
            <p class="title-sm">LOG IN</p>
          </div>
        </div>
        
        <div class="row start-xs">
          <div class="col-xs">
            
            <div class="form-box-input">
              <label>Email</label>
              <input type="text" class="input-form" ng-model="usuario.email" placeholder="exemplo@email.com">
            </div>
            
          </div>
        </div>          

        <div class="row start-xs">
          <div class="col-xs">
        
            <div class="form-box-input">
              <label>Senha</label>
              <input type="password" class="input-form" ng-model="usuario.senha">
            </div>
          </div>
        </div>

        <button type="submit" class="btn btn-md green-bg-btn stretch">Log In</button>

        <p class="text-center"> Não tem uma conta ainda? </p>

        <button type="submit" class="btn btn-md inactive-bg-btn stretch">Cadastre-se</button>
      </form>
    </div>
  </div>

</div>
