body{
  background-image: url("../../assets/images/bglogin.jpg");
  overflow: hidden;
}

#login-content {
  height: 100vh;
}

#logo-telaLogin {
  width: 100%;
}

#box-left {
  height: 100%;
}

#left{
  background-color: var(--grayBlueDark);
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  padding: 10px 0;
}

#right{
  background-color: var(--grayBlue);
  padding: 20px;
  border-radius: 3px;
  position: relative;
}

.appear {
  transition: .7s;
  visibility: visible;
  opacity: 1;
  width: 100%;
  position: initial;
  z-index: 0;
}

.disappear {
  opacity: 0;
  position: absolute;
  transition: 0;
  z-index: -1;
}

@media screen and (min-width: 768px) {
  #box-left {
    padding:20px 0;
  }

  #left {
    height: 373px;
  }
}